[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Python client library for interacting with the QUADS API
[access "refs/*"]
	owner = group quadsdevelopers
	owner = group user/Will Foster (sadsfae)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group quadsdevelopers
	label-Code-Review = -2..+2 group user/Will Foster (sadsfae)
	label-Verified = -1..+1 group quadsdevelopers
	label-Verified = -1..+1 group user/Will Foster (sadsfae)
	push = group quadsdevelopers
	push = group user/Will Foster (sadsfae)
	read = group quadsdevelopers
	read = group user/Will Foster (sadsfae)
	rebase = group quadsdevelopers
	rebase = group user/Will Foster (sadsfae)
	removeReviewer = group quadsdevelopers
	removeReviewer = group user/Will Foster (sadsfae)
	submit = group quadsdevelopers
	submit = group user/Will Foster (sadsfae)
[access "refs/heads/*"]
	create = group quadsdevelopers
	create = group user/Will Foster (sadsfae)
	push = +force group user/Will Foster (sadsfae)
	pushMerge = group quadsdevelopers
	pushMerge = group user/Will Foster (sadsfae)
	read = group quadsdevelopers
	read = group user/Will Foster (sadsfae)
[access "refs/tags/*"]
	push = group quadsdevelopers
	push = group user/Will Foster (sadsfae)
	push = +force group user/Will Foster (sadsfae)
